.profile__avatar-container {
  width: 120px;
  max-width: 100%;
  position: relative;
  margin-right: 30px;
}

.profile__avatar-container:hover .profile__avatar_overlay {
opacity: 1;
}

.profile__avatar_overlay:hover .profile__avatar-edit {
  background-image: url(../../../images/edit-button-vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 50px;
  left: 50px;
}